@import '../../assets/constants/styleConstants.scss';


//Keyframes
@keyframes lds-ring {

    0% {

        transform: rotate(0deg);
    }

    100% {

        transform: rotate(360deg);
    }
}


//Const
$spiner-size: 520px;
$spiner-thicknes: 64px;


.Loading {

    height: calc(40px + $spiner-size + $spiner-thicknes);

    .lds-ring {

        display: inline-block;
        position: relative;
        width: calc($spiner-size + $spiner-thicknes * 2);
        height: calc($spiner-size + $spiner-thicknes * 2);
    }

    .lds-ring div {

        box-sizing: border-box;
        display: block;
        position: absolute;
        width: $spiner-size;
        height: $spiner-size;
        margin: $spiner-thicknes;
        border: $spiner-thicknes solid $accent-light;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $accent-light transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {

        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {

        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {

        animation-delay: -0.15s;
    }
}