@import '../../../assets/constants/styleConstants.scss';
@import './mixins.scss';


.Navigation {
    @include dynamicNavigation();

    // Flex
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    // Object size
    width: 100%;

    // Color
    background-color: $standardBlue;

    > .Element {
        @include dynamicNavigation_Element();

        // Text
        color: $standardBlueText;
        font-family: $font-header;

        // Transition
        transition: $transitionTime;

        &:hover {
            // Cursor
            cursor: pointer;

            // Text
            color: $standardYellow;

            // Background
            background-color: $standardBlueHover;

            // Transition
            transition: $transitionTime;
        }
    }
}