@import '../../assets/constants/styleConstants.scss';


.PostsContainer {
    // Flex
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 48px;
    column-gap: 8px;


    // Object size
    width: 100%;
    height: 100%;
}