@import '../../assets/constants/styleConstants.scss';


.Post {
    // Flex
    display: flex;
    flex-direction: column;

    // Background
    background-color: $lightBlue;

    // Object size
    width: 400px;
    

    > .Header {
        // Content position
        padding: 8px 16px;

        // Text
        text-align: center;
        font-family: $font-header;
        font-size: 32px;
        font-weight: bold;

        &.EU {
            background-color: $eu;
            color: white;
        }

        &.US {
            background-color: $us;
            color: white;
        }

        &.AS {
            background-color: $as;
            color: black;
        }
    }

    > .ControlsContainer {
        // Flex
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > .Control {
            // Object size
            width: 100%;

            // Content position
            padding: 8px 16px;

            // Text
            font-size: 48px;

            &.Delete {
                // Color
                background-color: $delete;
                color: black;

                // Transition
                transition: $transitionTime;

                &:hover {
                    // Cursor
                    cursor: pointer;

                    //Color
                    background-color: $deleteHover;

                    // Transition
                    transition: $transitionTime;
                }
            }

            &.Edit {
                // Color
                background-color: $edit;
                color: black;

                // Transition
                transition: $transitionTime;

                &:hover {
                    // Cursor
                    cursor: pointer;

                    //Color
                    background-color: $editHover;

                    // Transition
                    transition: $transitionTime;
                }
            }
        }
    }

    > .Data {
        // Flex
        display: flex;
        flex-direction: column;
        
        // Content position
        text-align: center;

        > .Field {
            // Object size
            width: 100%;

            // Content position
            padding: 16px 24px;

            // Text
            font-size: 24px;

            // Color

            &.Date {
                // Text
                font-size: 36px;
                font-family: $font-header;
            }

            &.Email {
                // Text
                font-size: 24px;
                font-family: $font-header;
            }

            &.TextContent {
                // Text
                font-size: 24px;
                font-family: $font-normal;
            }
        }
    }
}