@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


// Colors
$lightBlue: #8ECAE6;
$lightBlueText: black;

$standardBlue: #219EBC;
$standardBlueHover: #2c8298;
$standardBlueText: white;

$darkBlue: #023047;
$darkBlueText: white;

$standardYellow: #FFB703;
$standardYellowText: black;

$standardOrange: #FB8500;
$standardOrangeText: white;

$eu: rgb(209, 38, 209);
$euHover: purple;
$us: rgb(85, 255, 0);
$usHover: rgb(82, 191, 27);
$as: rgb(0, 234, 255);
$asHover: rgb(34, 173, 185);

$delete: #EF233C;
$deleteHover: #D90429; 
$edit: #DDA15E;
$editHover: #e48b3d;
$save: rgb(22, 186, 22);
$saveHover: rgb(36, 145, 36);

$selected: #2592eb;
$selectedHover: #2775b4;


// Fonts
$font-header: 'Roboto', sans-serif;
$font-normal: 'Noto Sans', sans-serif;

// Other
$transitionTime: 0.2s;
$boxShadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;