@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


// Colors
$lightBlue: #8ECAE6;
$lightBlueText: black;

$standardBlue: #219EBC;
$standardBlueHover: #2c8298;
$standardBlueText: white;

$darkBlue: #023047;
$darkBlueText: white;

$standardYellow: #FFB703;
$standardYellowText: black;

$standardOrange: #FB8500;
$standardOrangeText: white;

$eu: purple;
$us: red;
$as: gold;


// Fonts
$font-header: 'Roboto', sans-serif;
$font-normal: 'Noto Sans', sans-serif;

// Other
$transitionTime: 0.2s;