apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: rsbd-app
        imagePullPolicy: Never
        resources:
        ports:
        - containerPort: 80
          name: app
        volumeMounts:
        - mountPath: '/app/app/node_modules'
          name: app-volume
      volumes:
        - name: app-volume
          persistentVolumeClaim:
            claimName: app-volume-claim
---
apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  type: NodePort
  selector:
    app: app
  ports:
  - port: 3000
    targetPort: app
    nodePort: 30011