@import '../../assets/constants/styleConstants.scss';
@import '../../assets/constants/mixins.scss';

.Home {
    @include PageBase();

    position: relative;
    
    > .Content {
        // Object size
        width: 80%;
    }

    >.Overlay {
        // Object position
        position: absolute;
        top: 24px;
        left: 25%;

        // Object size
        width: 100%;
        height: 100%;

        >.Loader {
            // Object position
            position: absolute;
            z-index: 2;
            transform: translate(50%, 50%);
        }
    }
}
